console.log("asas")
$('#message').prepend("<tr><td><p><%=User.find_by_id(@message.user_id).email%></p></td><td><p>:</p></td><td><p><%=@message.description%></p></td><td><%=@message.created_at.time.in_time_zone('Pacific Time (US & Canada)')%></td></tr>")